html, body {
  margin: 0;
  padding: 0;
  background: "#000000";
  text-align: center;
}
canvas {
  display: block;
}

iframe {
  border: none;
  display: block;
}

p {
  display: flex;
  justify-content: center;
}
