html, body {
  margin: 0;
  padding: 0;
  background:rgb(249, 241, 214);
  text-align: center;
}
canvas {
  display: block;
}

iframe {
  border: none;
  display: block;
}

p.a {
  color: rgb(56,45,7);
  padding-left: 100px;
  padding-right: 50px;
}

p {
  display: flex;
  justify-content: center;
}
